<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container">
    <nav class="nav nav-pills">
      <li><a href="/humansofbloomington">Back</a></li>
      <li><a href="#">Login</a></li>
    </nav>
    <header>
      <h1>HUMANS OF BLOOMINGTON</h1>
    </header>
    <form class="" action="/humansofbloomington" method="POST">
      <div class="form-group">
        <label for="name">First and Last Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name">
        <label for="image">Image URL</label>
        <input type="text" class="form-control" name="image" placeholder="Image url">
        <label for="currentRole">Current Job Title</label>
        <input type="text" class="form-control" name="currentRole" placeholder="Current Job Title">
        <label for="currentEmployer">Current Employer/Business</label>
        <input type="text" class="form-control" name="currentEmployer" placeholder="Current Employer">
        <label for="hometown">Place of Origin (Hometown)</label>
        <input type="text" class="form-control" name="hometown" placeholder="Your hometown">
        <label for="story">Your Story</label>
        <input type="text" class="form-control" name="story" placeholder="Your story">
        <input type="submit" class="btn" value="Create Human">
      </div>
    </form>
    <footer class="footer">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
