<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
          <li><a href="/humansofbloomington">Back</a></li>
          <% } else { %>
            <li><a href="/humansofbloomington">Back</a></li>
            <li><a href="#">Login</a></li>
          <% } %>
        </ul>
      </div>
  </nav>
  <div class="container">
  <header>
    <h1>HUMANS OF BLOOMINGTON</h1>
  </header>
  <p><%= user._id %></p>
  <form class="" action="/humansofbloomington" method="POST">
    <div class="form-group">
      <label for="name">First and Last Name</label>
      <input type="text" class="form-control" name="name" placeholder="Full Name">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" name="image" placeholder="Image url">
      <label for="currentRole">Current Job Title</label>
      <input type="text" class="form-control" name="currentRole" placeholder="Current Job Title">
      <label for="currentEmployer">Current Employer/Business</label>
      <input type="text" class="form-control" name="currentEmployer" placeholder="Current Employer">
      <label for="hometown">Place of Origin (Hometown)</label>
      <input type="text" class="form-control" name="hometown" placeholder="Your hometown">
      <label for="story">Your Story</label>
      <input type="text" class="form-control" name="story" placeholder="Your story">
      <input type="hidden" name="user" value="<%= user._id %>">
      <input type="submit" class="btn btn-default" value="Create Human">
    </div>
  </form>
  <div class="push"></div>
</div>
  <footer class="footer">
    <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>
