<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Register | HOB</title>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <li class="navbar-brand"><a href="/humansofbloomington">HUMANS OF BLOOMINGTON</a></li>
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="/humansofbloomington">Back</a></li>
        </ul>
      </div>
  </nav>
  <header>
    <h1>REGISTER</h1>
  </header>
  <div class="container">
    <form action="/humansofbloomington/session/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" value="">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" value="">
        <button type="submit" class="btn btn-default">Register</button>
      </div>
    </form>
  </div>
  <div class="push"></div>
</div>
  <footer class="footer">
    <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>
