<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Register | HOB</title>
</head>
<body>
  <nav class="nav nav-pills">
    <li><a href="/humansofbloomington">Back</a></li>
    <li><a href="#">About</a></li>
  </nav>
  <header>
    <h1>HUMANS OF BLOOMINGTON</h1>
  </header>
  <div class="container">
    <form action="/humansofbloomington/session/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" value="">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" value="">
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
  </div>
  <footer class="footer">
    <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>
