* {
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

.navbar {
  background-color: white;
  margin-bottom: 20px;
}

.navbar-text {
  margin-right: 20px;
}

header {
  text-align: center;
  margin: 50px;
}

h1 {
  font-weight: 600;
  font-size: 55px;
}

.container {
  max-width: 95%;
}

.col {
  margin-bottom: 60px;
}

h4 {
  margin-top: 15px;
  text-align: center;
}

#wrong {
  color: red;
}

.glyphicon-briefcase, .glyphicon-pawn, .glyphicon-globe {
  padding-right: 25px;
}

.star {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 11px;
  margin: 10px;
  border: 1px solid rgb(197,197,197);
}

.starry {
  width: 30px;
  height: 30px;
  margin: auto;
  padding-top: 10px;
  padding-left: 2px;
}

.show-page-contain {
  max-width: 70%;
}

.show-wrap {
  text-align: center;
}

.stats {
  background-color: rgb(228, 227, 228);
  padding: 20px 40px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#story {
  line-height: 25px;
  padding-bottom: 30px;
}

.btn-default {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.footer, .push{
  height: 50px;
}
