/*FULL PAGE*/
/*==================================*/
* {
  font-family: "Merriweather", serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

/*NAVIGATION*/
/*==================================*/
.navbar {
  background-color: white;
  margin-bottom: 20px;
}

li > a {
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  list-style: none;
}

.navbar-brand > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand > a:hover {
  color: grey;
}

.navbar-text {
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}

.logger > .btn-default {
  margin: 0px;
}

/*HEADER*/
/*=====================================*/
header {
  text-align: center;
  margin: 50px;
}

h1 {
  font-weight: 600;
  font-size: 55px;
  font-family: "Roboto", sans-serif;
}

/*MAIN BODY*/
/*=====================================*/
/*index page*/
.container {
  max-width: 80%;
}

.col {
  margin-bottom: 60px;
}

.hover-over:hover {
  opacity: 0.7;
}

h4 {
  margin-top: 15px;
  text-align: center;
}

img:before {
  content: " ";
  background-image: url(http://via.placeholder.com/1024x768);
  display: block;
  width: 1170px;
  height: 800px;
  max-width: 100%;
  overflow: none;
  background-repeat: no-repeat;
}

.show-page-img:before {
  content: " ";
  background-image: url(http://via.placeholder.com/960x640);
  display: block;
  width: 1000px;
  height: 500px;
  margin: auto;
  max-width: 100%;
  overflow: none;
  background-repeat: no-repeat;
}

/*login and register pages*/
#wrong {
  color: red;
}

/*edit page*/
.form-group > .form-control {
    margin-bottom: 20px;
}

/*show page*/
.glyphicon-briefcase, .glyphicon-pawn, .glyphicon-globe {
  padding-right: 25px;
}

.star {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 11px;
  margin: 10px;
  border: 1px solid rgb(197,197,197);
}

.starry {
  width: 30px;
  height: 30px;
  margin: auto;
  padding-top: 10px;
  padding-left: 2px;
}

.show-page-contain {
  max-width: 70%;
  font-size: 18px;
}

.show-page-img {
  margin-bottom: 10px;
}

.show-wrap {
  text-align: center;
}

.show-wrap > a {
  margin-right: 10px;
}

.show-wrap > form {
  display: inline;
}

.stats {
  background-color: rgb(228, 227, 228);
  padding: 20px 40px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#story {
  line-height: 25px;
  padding-bottom: 30px;
}

.btn-default {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*FOOTER*/
/*=====================================*/
.footer {
  text-align: center;
  margin-top: 100px;
}

.footer, .push{
  height: 50px;
}
